# MongoDB credentials
# Copy this file to .env and update the values
DB_USERNAME=your_username
DB_PASSWORD=your_password
DATABASE_URL=mongodb://your_username:your_password@localhost:27017

# OAuth
OAUTH_CLIENT_ID="your_client_id"
OAUTH_CLIENT_SECRET="your_client_secret"
SESSION_SECRET_KEY="some_random_secret_key"
ADMIN_EMAILS="admin1@example.com,admin2@example.com"
